@model HotelSystem.Models.Livein

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Livein</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InNo" class="control-label"></label>
                <input asp-for="InNo" class="form-control" />
                <span asp-validation-for="InNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class ="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonNum" class="control-label"></label>
                <input asp-for="PersonNum" class="form-control" />
                <span asp-validation-for="PersonNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InTime" class="control-label"></label>
                <input asp-for="InTime" class="form-control" />
                <span asp-validation-for="InTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Money" class="control-label"></label>
                <input asp-for="Money" class="form-control" />
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatorId" class="control-label"></label>
                <select asp-for="OperatorId" class ="form-control" asp-items="ViewBag.OperatorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

