@{
    ViewData["Title"] = "酒店管理系统";
}

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <img src="~/images/admin_head.png" class="layui-nav-img">管理员 @*@UserSession.User?.UserName;*@
                    </a>
                    <dl class="layui-nav-child" style="text-align:center;">
                        <dd><a lay-href="/systemfunc/userinfo/PersonalPage">个人中心</a></dd>
                        <dd><a lay-href="/SystemFunc/UserInfo/UserCenter?Id=">基本资料</a></dd>
                        <dd style="text-align: center;"><a href="/Signout">退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo" lay-href="MainHome">
                        <img class="layui-icon" src="~/images/系统管理.png" style="width:15px;top:70%;" />
                        <span>星月酒店管理系统</span>
                    </div>
                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        <li data-name="home" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="房间管理" lay-direction="2">
                                <img class="layui-icon" src="~/images/首页.png" style="width:15px;top:70%;" />
                                <cite>房间管理系统</cite>
                                <span class="layui-nav-more"></span>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="content">
                                    <a lay-href="/Roomtypes/index">房间类型管理</a>
                                </dd>
                            </dl>
                            <dl class="layui-nav-child">
                                <dd data-name="content">
                                    <a lay-href="/Roominfoes/index">房间信息管理</a>
                                </dd>
                            </dl>

                        </li>
                        <li data-name="home" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="会员管理" lay-direction="2">
                                <img class="layui-icon" src="~/images/人员管理.png" style="width:15px;top:70%;" />
                                <cite>会员管理系统</cite>
                                <span class="layui-nav-more"></span>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="content">
                                    <a lay-href="/Members/Index">酒店会员管理</a>
                                </dd>
                            </dl>
                        </li>
                        <li data-name="home" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="登记入住" lay-direction="2">
                                <img class="layui-icon" src="~/images/表单.png" style="width:15px;top:70%;" />
                                <cite>登记入住系统</cite>
                                <span class="layui-nav-more"></span>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="content">
                                    <a lay-href="/Liveins/Index">登记入住</a>
                                </dd>
                            </dl>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            @*<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>*@
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="MainHome" lay-attr="MainHome" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="MainHome" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="~/ADPlugin/signalr/signalr.js"></script>
<script src="~/ADPlugin/signalr/msgcenter.js"></script>
<script src="~/js/MainHome.js"></script>




