
/*页面背景色*/
html {
    background-color: #fff;
    color: #666;
}
body{
    height:100%;
}
#token_cmd, .hide, .hidden {
    display: none;
}
.upload_input {
    width: 150px;
    float: left;
    display: none;
    margin-right:4px;
}
.input_disable {
    background-color: #eee;
}

.ad_must:before {
    content: "*";
    color: red;
    font-size: 1.4em;
    position: absolute;
    padding-top: 5px;
    left: 10px;
}
.slider_div{
    
    padding:18px 15px;
    
}
/*form表单*/
.az_table {
    display: none;
}
.az_tip_error {
    font-size: 1em;
    color: red;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 10;
}
    /*底部工具条*/
.az_tool_bottom{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:6px;
    border-top:1px solid #e5e5e5;
    background-color:#fff;
}
    .az_tool_bottom .layui-btn {
        float:right;
        margin-right:12px;
    }
.az_toolbar{
    display:none;
}
/*.form_body {
        padding: 0 15px;
    }*/
.classify_ul {
    position: absolute;
    right: 0;
    top: 40px;
    width: 250px;
    z-index: 1000;
    display: none;
    height: 255px;
    border: 1px solid #b8b7b7;
    background-color: #f6f4f4;
}
.down_tree {
    width: 200px;
    padding: 4px; 
    position: absolute;
    right: 0;
    z-index: 9999;
    border: 1px solid #b8b7b7;
    background-color: #f6f4f4;
}

    .down_tree li {
        line-height: 18px;
        font-size: 14px;
    }
.az_error {
    font-size: 1.8em;
    color: #f00;
    position: absolute;
    right: 15px;
    top: 5px;
}

.az_error_more {
    right: 75px;
}
.az_badge {
    transform: scale(0.8,0.8);
    -ms-transform: scale(0.8,0.8); /* IE 9 */
    -moz-transform: scale(0.8,0.8); /* Firefox */
    -webkit-transform: scale(0.8,0.8); /* Safari 和 Chrome */
    -o-transform: scale(0.8,0.8); /* Opera */
 
}
.foreign_lab, .for_lab {
    position: absolute;
    right: 0;
    top: 0;
}

.az_form {
    padding-top: 10px;
}

/*表格样式*/
.table_form {
    padding: 10px 0;
    margin: auto;
    /*border-bottom:1px solid #006e44;*/
}
 
.lay_tool {
    padding: 4px;
    border: 1px solid #cfcfcf;
    background-color: #eee;
    display:none;
}


/*详情样式*/
.details_table {
    overflow: hidden;
}

    .details_table > dl {
        border: 1px solid #c3d3f7;
        position: relative;
        min-height: 20px;
        line-height: 20px;
        color: #666;
        margin-top: 4px; 
        overflow: hidden; 
        font-size: 1.2em; 
    }

        .details_table > dl > *:hover {
            border-bottom-color: #6c6dff;
        }

        .details_table > dl > * {
            float: left;
            padding: 6px;
        }

.claer {
    clear: both;
}

.details_table dt {
    min-width: 100px;
    border-right: 1px solid #c3d3f7;
    text-align: right;
    margin-right: -1px;
}

.details_table dd {
    /*min-width: 250px;*/
    border-left: 1px solid #c3d3f7;
    width:83%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
}

.show_img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #e5e5e5;
}

    .show_img:hover {
        border: 1px solid #808080;
    }

    .show_img:active {
        border: 1px solid #000000;
    }
/*第三方样式*/
/*.form-control {
        display: block;
        width: 100%;
        height: 38px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }*/


/* 自定义样式*/
/*横条样式*/
.ad_slide {
    -webkit-appearance: none; /*清除系统默认样式*/
    width: 80% !important;
    margin-top: 12px;
    margin-left: 6px;
    background: #1E9FFF; /*设置左边颜色为#61bd12，右边颜色为#ddd*/
    /*设置左右宽度比例*/
    height: 16px;
}

    .ad_slide:before {
        top: 6px;
        left: 40%;
        position: absolute;
        content: attr(data-value);
        color: #000000;
        font-size: 1.6em;
    }
    /*拖动块的样式*/
    .ad_slide::-webkit-slider-thumb {
        -webkit-appearance: none; /*清除系统默认样式*/
        height: 26px; /*拖动块高度*/
        width: 26px; /*拖动块宽度*/
        background: #fff; /*拖动块背景*/
        border-radius: 50%; /*外观设置为圆形*/
        border: solid 1px #ddd; /*设置边框*/
    }
.file_tip{
    position:absolute;
    bottom:0;
    width:110px;
    background-color:#e3e3e3;
    overflow:hidden;
}
.iframe_set, .az_iframe {
    border: none;
    width: 100%;
    min-height: 540px;
}
/*滚动条样式*/
.layui-layout-body {
    overflow-y:auto;
}
/*基本资料*/
.layui-form-pane .laylabel {
    width: 30%;
    background-color: #fff;
    border-width: 1px;
}
/*.layui-form-pane .layui-form-label{
    background-color:#fff;
    border-width:0px;
}*/
.layui-form-pane .Img {
    margin-left: 200px;
   
}
/*div下划线*/
.layui-form-item .layui-form-div-inpt {
    width: 86%;
    height: 37px;
    /* border: 1px solid green; */
    text-align: left;
    line-height: 36px;
    /*overflow: hidden;*/
    border-bottom: 1px solid #ccc;
    border-width: 1px;
    padding-left: 20.5px;
}
.layui-form-pane .layui-input-block-img {
    margin-left: 200px;
}
.layui-form-pane .layui-input-block-img1 {
    margin-left: 131px;
}
/*更新版登录*/
.loginbj {
    background: url("../images/back_g.png")no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    /*overflow: hidden;*/
}
.layui-form-selected dl{
    z-index:9999;
}
.login-head {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 7%;
    left: 35%;
}

.login-box {
    background:url("../images/登录背景.png")no-repeat;
    background-size: 100% 100%;
}

.layadmin-user-login-header .login-title {
    font-size: 24px;
    color: #009999;
    border-bottom: 2px solid #009999;
    padding-bottom: 1rem;
}

.login-form-box {
    padding: 20px 10px 10px 10px;
}

.login-user-input {
    width: 80%;
    left: 10%;
}

.layui-input:focus:focus {
    border-color: #009999 !important;
}
/*使用说明编辑器*/

img {
    width: 100%;
}
.layui-form-item .upshow{
    overflow:hidden;
    overflow-y:scroll;
    height:500px;
}
.layui-form-item .upshows {
    overflow: hidden;
    overflow-y: scroll;
    height: 375px;
}

/*超接口*/
.interface_form {
    padding: 20px;
    border: 1px solid #eee;
}