<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    @*<meta name="keywords" content="AD大数据应用平台">
    <meta name="description" content="AD大数据应用平台">*@
    <!-- lui -->
    <link href="~/layuiAdmin.std-v1.0.0/src/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiAdmin.std-v1.0.0/src/layuiadmin/style/admin.css" rel="stylesheet" />
    <link href="~/ADPlugin/AZStyle.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="~/LXUI/js/respond.min.js"></script>
        <script src="~/LXUI/js/html5shiv.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/jquery.form.min.js"></script>
    <script src="~/layuiAdmin.std-v1.0.0/src/layuiadmin/layui/layui.js"></script>
    <script src="~/ADPlugin/ADPlugin.js"></script>
    <script src="~/ADPlugin/ADLayerScript.js"></script>
</head>
<body class="layui-layout-body">
    @RenderBody()
</body>
</html>
